.image-root {
  background-size: cover;
  background-position: center center;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  margin: 1px;
  flex: calc(12.5% - 2px);
  max-width: calc(12.5% - 2px);
  padding-top: calc(12.5% - 2px);

  > div {
    visibility: hidden;
    background: rgba(0,0,0,.7);
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover > div {
    visibility: visible;
  }

  .image-icon {
    font-size: 20px;
    vertical-align: middle;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    margin: 3px;

    &:hover {
      color: rgb(255,82,82);
      border-color: rgb(255,82,82);
    }
  }
}

.image-root:focus div{
  visibility: visible
}

.hover{
  opacity: 0.3;
}

@media screen and (max-width:1250px){
  .image-root {
    flex: calc(20% - 10px);
    padding-top: calc(20% - 2px);
    max-width: calc(20% - 2px);
  }
}

@media screen and (max-width:800px){
  .image-root {
    flex: calc(33.333% - 2px);
    padding-top: calc(33.333% - 2px);
    max-width: calc(33.333% - 2px);
  }
}

@media screen and (max-width:600px){
  .image-root {
    flex: calc(50% - 2px);
    padding-top: calc(50% - 2px);
    max-width: calc(50% - 2px);
  }
}

